.header1 {
	background-color: #99EBFF;
	height: 200px;
	z-index: 1;
}
.header2 {
	background-color: #00BFFF;
	height: 100px;
	margin-top: 50px;
	z-index: 2;
	top: 5px
}
.image {
	z-index: 3;
	top: -35px;
}
.image img{
	width: 170px;
	height: 170px;
	border-radius: 50%;
	margin-left: 100px;
}
.name h4{
	font-family: bell gothic std black;
	margin-bottom: 0px;
}
.name p {
	font-size: 11px;
	margin-top: 0px;
}
.palace img {
	padding-top: 15px;
	float: left;
}
.palace h6 {
	float: left;
	font-family: bell gothic std black;
	font-size: 12px;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-top: 25px;
}
.palace p {
	float: left;
	font-size: 10px;
	padding-left: 110px;
	padding-bottom: 30px;
	position: absolute;
	padding-top: 45px;
}
.kategori, .shoping, .share, .destinasi, .kuliner {
	font-family: bell gothic std black
	color:white;
	font-weight: bold;
	font-size: 10px;
	padding-left: 0px;
	padding-top: 10px;
	margin-left: 10px;
}
.jumlah {
	float:right;
	overflow:auto;
	padding:2px 10px 2px 10px;
	background:#00BFFF;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	margin-bottom:20px;
	margin-top: 0px;
	margin-left: 5px;
	text-align:center;
	text-decoration:none;
	color:#FFF;
}
.login {
	text-align: center;
	padding-top: 10px;
	text-decoration: pointer;
}
.container {
	width: 100%;
}
 .sidebar .side {
	background-color:#99EBFF; 
	margin-top: 5px;
	padding-left: 0px;
}
.side h3 {
	font-family: bell gothic std black;
	font-weight: bold;
	font-size: 20px;
	margin-left: 10px;
}
.side p {
	font-family:;
	font-size: 11px;
	font-weight: bold;
	margin-left: 10px;
}
.side img {
	width: 255px;
	height: 150px;
}
.side1 h3 {
	font-family: bell gothic std black;
	font-weight: bold;
	font-size: 20px;
	margin-left: 10px;
	color: #00BFFF;
}
.side1 p {
	font-family:;
	font-size: 11px;
	font-weight: bold;
	margin-left: 10px;
}
.down {
	background-color: #99EBFF;
	padding-right: 10px;
}
.pilih {
	background-color: #99EBFF;
	font-family: bell gothic std black;
	height: 35px;
	padding-top: 5px;
}
.info {
	background-color: #DCDCDC;
	padding: none;
}
.footer {
	margin-top: 5px;
}
.footer1 {
	background-color: #99EBFF;
    height: 60px;
}
.footer2 {
	background-color: #00BFFF;
	height: 50px;
}
.main {
	margin-top: 5px;
}
.side1 {
	margin-top: 5px;
}
.button {
	margin-left: 10px;
}
.download {
	font-family: bell gothic std black;
	font-weight: bold;
	font-size: 28px;
	color: #00BFFF;
	text-align: center;
	padding-left: 450px;
}
.unduh1 {
	background-color: #99EBFF;
	margin-left: 300px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.unduh2{
	background-color: #99EBFF;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.unduh3{
	background-color: #99EBFF;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.gambar {
	height: auto;
	width: 50px;
	float: left;
	padding-left: 5px;
	padding-top: 5px;
}
.mobile {
	float:left;
	margin-left: 10px;
}
.mobile h6 {
	margin-bottom: 0px;
	margin-top: 0px;
}
.arah {
	width: 50px;
	height: 60px;
	float: left;
	margin-left: 15px;
	background-color: #00BFFF;
	padding-left: 10px;
	padding-top: 5px;
}
.arah1 {
	width: 50px;
	height: 60px;
	float: left;
	margin-left: 50px;
	background-color: #00BFFF;
	padding-left: 10px;
	padding-top: 5px;
}
.content{
    margin-right: 40px;
    background-color: #f2f5f7;
}
.green-box { 
    position: relative;
    z-index: 2;
    width: 140px;
    bottom: 20px;
    height: 140px;
    border-radius: 70px;
    left: 165px;
}
.green-box img{
    border-radius: 70px;
}
.tulisan{
    height: 100px;
    width: 250px;
    margin-left: 180px;
    font-size: 12px;
    margin-top: 5px;
}
.tulisan h6{
    margin-bottom: 0px;
}
.red-box{
    margin-left: 90px;
}
.red-box img{
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.tulisan1{
    height: 100px;
    width: 200px; 
    font-size: 12px;
}
.tulisan1 h6{
    margin-bottom: 0px;
    margin-top: 15px;
}
.loc {
    position: absolute;
    z-index: 2;
    width: 110px;
    height: 49px;
    top: 430px;
    left: 45px;
    color: #fff;
}
.loc img{
    margin-right: 8px;
}
.like {
    position: absolute;
    z-index: 2;
    width: 120px;
    height: 49px;
    top: 430px;
    right: 45px;
    color: #fff;
    left: 577px;
}
.like img{
    margin-left: 8px;
}
.tanggal{
    padding-top: 5px;
}
.isi{
    z-index: 2;
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: #fff;
    right: 215px;
    left: 215px;
    top: 430px;
}
.style{
    background-color: #000px;
    margin-left: 15px;
}
.style img{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin-top: 10px;
    border: 1px #000 solid;
}
.coment{
    height: 150px;
    background-color: #fff;
    width: 730px;
    margin: 15px;
}
.orang{
    float: left;
}
.orang img{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 5px #99ebff solid;
    margin: 15px;
}
.komentar{
    float: left;
    height: 150px;
    font-size: 12px;
}
.komenter h5{
    margin-bottom: 0px;
}
.komentar h6{
    margin-bottom: 0px;
}
.font{
    float: left;
    background-color: #b3d7e0;
    height: 150px;
}
.download{
    width: 900px;
    height: 60px;
    margin-top: 10px;
    font-style:  bold;
    color: #00bfff;
}
.kolom{
    height: 70px;
    background-color: #dedede;
    margin: auto;
    margin-bottom: 20px;
}
.icon{
    float: left;
    height: 70px;
    width: 70px;
    padding-left: 10px;
}
.get{
    float: left;
    height: 70px;
    width: 160px;
}
.icon1{
    float: left;
    height: 70px;
    width: 70px;
    padding-top: 15px;
    background-color: #f2f5f7;
}