.header1 {
	background-color: #99EBFF;
	height: 200px;
	z-index: 1;
}
.header2 {
	background-color: #00BFFF;
	height: 100px;
	margin-top: 50px;
	z-index: 2;
	top: 5px
}
.image {
	z-index: 3;
	top: -35px;
}
.image img{
	width: 170px;
	height: 170px;
	border-radius: 50%;
	margin-left: 100px;
}
.name h4{
	font-family: bell gothic std black;
	margin-bottom: 0px;
}
.name p {
	font-size: 11px;
	margin-top: 0px;
}
.palace img {
	padding-top: 15px;
	float: left;
}
.palace h6 {
	float: left;
	font-family: bell gothic std black;
	font-size: 12px;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-top: 25px;
}
.palace p {
	float: left;
	font-size: 10px;
	padding-left: 110px;
	padding-bottom: 30px;
	position: absolute;
	padding-top: 45px;
}
.kategori, .shoping, .share, .destinasi, .kuliner {
	font-family: bell gothic std black
	color:white;
	font-weight: bold;
	font-size: 10px;
	padding-left: 0px;
	padding-top: 10px;
	margin-left: 10px;
}
.jumlah {
	float:right;
	overflow:auto;
	padding:2px 10px 2px 10px;
	background:#00BFFF;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	margin-bottom:20px;
	margin-top: 0px;
	margin-left: 5px;
	text-align:center;
	text-decoration:none;
	color:#FFF;
}
.login {
	text-align: center;
	padding-top: 10px;
	text-decoration: pointer;
	cursor: pointer;
}
.container {
	width: 100%
}
 .sidebar .side {
	background-color:#99EBFF; 
	margin-top: 5px;
	padding-left: 0px;
}
.side h3 {
	font-family: bell gothic std black;
	font-weight: bold;
	font-size: 20px;
	margin-left: 10px;
}
.side p {
	font-family:;
	font-size: 11px;
	font-weight: bold;
	margin-left: 10px;
}
.side img {
	width: 255px;
	height: 150px;
}
.side1 {
	margin-top: 5px;
}
.side1 h3 {
	font-family: bell gothic std black;
	font-weight: bold;
	font-size: 20px;
	margin-left: 10px;
	color: #00BFFF;
}
.side1 p {
	font-family:;
	font-size: 11px;
	font-weight: bold;
	margin-left: 10px;
}
.down {
	background-color: #99EBFF;
	padding-right: 10px;
}
.pilih {
	background-color: #99EBFF;
	font-family: bell gothic std black;
	height: 35px;
	padding-top: 5px;
	cursor: pointer;
}
.info {
	background-color: #DCDCDC;
	padding: none;
}
.footer {
	margin-top: 5px;
}
.footer1 {
	background-color: #99EBFF;
}
.footer2 {
	background-color: #00BFFF;
	height: 50px;
}
.main {
	margin-top: 5px;
}
.button {
	margin-left: 10px;
}
.download {
	font-family: bell gothic std black;
	font-weight: bold;
	font-size: 28px;
	color: #00BFFF;
	text-align: center;
	padding-left: 450px;
}
.unduh1 {
	background-color: #99EBFF;
	margin-left: 300px;
	margin-top: 5px;
	
}
.unduh2{
	background-color: #99EBFF;
	margin-left: 20px;
	margin-top: 5px;
}
.unduh3{
	background-color: #99EBFF;
	margin-left: 20px;
	margin-top: 5px;
}
.gambar {
	float: left;
	padding-left: 5px;
	padding-top: 5px;
}
.mobile {
	float:left;
	margin-left: 10px;
}
.mobile h6 {
	margin-bottom: 0px;
	margin-top: 0px;
}
.arah {
	width: 50px;
	height: 60px;
	float: left;
	margin-left: 15px;
	background-color: #00BFFF;
	padding-left: 10px;
	padding-top: 5px;
}
.arah1 {
	width: 50px;
	height: 60px;
	float: left;
	margin-left: 50px;
	background-color: #00BFFF;
	padding-left: 10px;
	padding-top: 5px;
}
.date h1 {
	float: left;
	color: #00BFFF;
}
.date h4 {
	float: left;
	margin-right: 200px;
    margin-bottom: 0px;
    font-size: 18px;
    margin-top: 8px;
    margin-top: 8px
}
.date h6 {
	font-size: 11px;
}
.fa-heart {
	margin-left: 15px;
	background-color: #fff;
	padding-left: 7px;
	padding-right: 5px; 
	padding-top: 5px;
	width: 30px;
	height: 30px;
}
.fa-map-marker {
	margin-left: 30px;
	background-color: #fff;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 5px; 
	background-color: white;
	width: 30px;
	height: 30px;
}
.love {
	color: white;
	font-family: bell gothic std black;
	float: right;
	margin-right: 5px;
}
.position {
	color: white;
	font-family: bell gothic std black;
	float: left;
	margin-left: 50px;
}
.like {
	z-index: 2;
	top: 16em;
	position: absolute;
}
.love {
	float: right;
}
.coment img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
.new-coment h3{
	margin-bottom: 0px;
	margin-top: 0px;
}
.new-coment h6 {
	margin-bottom: 0px;
}
.new-coment {
	
}
.deskription {
	font-size: 11px;
	margin-left: 13px;
}
.timeline-body .makanan img {
	width: 350px;
	height: 200px;
	z-index: 1;
	cursor: pointer;
}
#timeline {
	background-color: #99EBFF;
	width: 150px;
	text-align:  center;
	padding-bottom: 5px;
	margin-left:325px;
 }
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 44%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            background-color: #FFFFFF;
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #00008B;
            /*z-index: 100;*/
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #00008B !important;
}

.timeline-badge.warning {
    background-color: #00BFFF !important;
}

.timeline-badge.danger {
    background-color: #A52A2A !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }