#my-modal {
	width: 950px;
}
.modal-body .komentar img {
	margin-left: 3px;
	margin-top: 5px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	float:left;
	z-index: 1;
}
.modal-body .komentar {
	background-color: #fff;
}
.modal-body .komentar h5 {
	font-size: 13px;
	font-weight: bold;
	float: left;
	padding-left:5px;
	padding-right: 90px;
	margin: 0px;
}
.modal-body .komentar h6 {
	font-size: 11px;
	color: #99EBFF;
	float: left;
	padding-left: 5px;
	padding-right: 130px;
	margin:0px;
}
.modal-body .komentar p {
	font-size: 10px;
	padding-left: 55px;
}
.suka-lokasi {
	z-index: 2;
	position: absolute;
	bottom: 2px;
}
.petunjuk {
	margin:0px;
	margin-top: 30px;
}
.lokasi {
	text-align: right;
	font-weight: bold;
	color: white;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 30px;
}
.suka {
	padding-left: 30px;
	font-weight: bold;
	color: white;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 30px;
}
.hati {
	margin-top:30px;
}
.komentarku img {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	margin-left: 5px;
}
.komentarku h5 {
	font-size: 14px;
	margin:0px;
}
.komentarku h6 {
	font-size: 11px;
	color: #99EBFF;
	margin: 0px;
}
.komentarku p {
	font-size: 10px;
	margin: 0px;
}
.komentar-ku {
	margin-top: 10px;
}
.komentar-ku img {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	margin-left: 5px;
}
.komentar-ku h5 {
	font-size: 14px;
	margin:0px;
}
.komentar-ku h6 {
	font-size: 11px;
	color: #99EBFF;
	margin: 0px;
}
.komentar-ku p {
	font-size: 10px;
	margin: 0px;
}