img{
	margin-left: 30px;
}
h1{
	width: 48px;
	height: 48px;
}
pre{
	margin-top: 5px;
}
.isi{
	margin-top: 10px;
	width: 300px;
	float: left;
	margin-left: 5px;
}
.isi .content-popup h4{
	float: left;
}
.content-popup{
	float: right;
	margin-right: 100px;
}
.isi img{
	margin-left:10px;
    border-radius: 70px;
    border: 2px solid #ff6600;
    padding: 0px; 
    width: 70px;
    height: 70px;    
}
.window h6 {
	float: left;